* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    
}
.main-menu {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
  }
  
  .menu-icon {
    cursor: pointer;
    font-size: 20px;
  }
  .header-container .navbar {
    padding: 15px 8px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    z-index: 1;
    position: relative;
  }
  .nav-link {
    color: black !important;
    font-weight: 500;
    padding: 0 20px;
  }
  
  .phone-number {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
  }
  
  .navbar .nav-link {
    color: #333;
    font-weight: 500;
  }
  
  .navbar .nav-link:hover {
    color: #28a745;
  }
  
  .dropdown-menu {
    border-radius: 10px;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }
  
  .text-success {
    color: #28a745 !important;
  }
  
  .fw-bold {
    font-weight: bold;
  }
  