body {
  font-family: 'Arial', sans-serif;
  background-color: #f8ede3;
background: url(https://www.chromethemer.com/download/hd-wallpapers/abstract-3d-3840x2160.jpg);
background-size: cover;

}

h2 {
  font-weight: bold;
  font-family: 'poppins';
  color: #333;
}

.container {
  max-width: 1100px;
}
.form-control {
  box-shadow: 5px 5px lightblue ;
  
}

.card {
  border-radius: 10px;
  background-color: #fff;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  font-weight: bold;
}

.table {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.table thead {
  background-color: #343a40;
  color: white;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.alert {
  font-weight: bold;
  background-color: #d1ecf1;
  color: #0c5460;
  border-color: #bee5eb;
}

.badge {
  font-size: 14px;
  padding: 5px 10px;
}

.dropdown-toggle {
  background-color: #6c757d !important;
  border: none;
}

.form-control {
  border-radius: 5px;
}

button.me-2 {
  margin-right: 5px;
}
